/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

body
  color: black
  padding-top: 50px
  padding-bottom: 20px

a,
a:visited
  color: white

a:hover, li:hover, a:focus
  background-color: transparent
  text-decoration: none
  color: #b9c1ff

ul
  list-style-type: none

.dl-horizontal dt
  white-space: normal


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
  max-width: 280px


.navbar-brand
  font-size: 30px
  color: white

.container
  height: 100px
  padding-top: 25px


.body-content
  padding-left: 15px
  padding-right: 15px
  padding-top: 50px


.navbar
  background-color: #4009ff
