<%= form_for Image.new do |f| %>
    <div class="field">
      <%= f.label :picture, class:'control-label' %><br>
      <%= f.file_field :picture  %>
    </div>
    <div class="actions">
      <%= f.submit 'Set image', class: 'btn btn-large btn-primary' %>
    </div>
<% end %>